:root {
    --c-bg-dark: rgb(20, 20, 20);
    --c-text-dark: rgb(255,255,255);
    --c-bg-light: rgb(248, 255, 225);
    --c-text-light: rgb(20, 20, 20);
    --c-hyperlinks: rgb(201, 71, 71);
}

body{
    background-color: var(--c-bg-dark);
    color: var(--c-text-dark);
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin: 0;
    padding: 0;
    padding-left: 2rem;
    padding-top: 1rem;
}

.title-icon {
    background-image: url("../imgs/Home-Logo-512.png");
    background-size: cover;
    background-position: center, center;
    height: 3.5rem;
    /* width: 100%; */
    aspect-ratio: 1/1;
}

.title-label {
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
    cursor: default;
    /* user-select: none; */
    /* text-shadow: 0 0 3rem rgb(0, 0, 0); */
}

/* .letter-shuffle-effect {

} */

.font-monospace {
    font-family: monospace;
}

.font-sans-serif {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--c-hyperlinks);
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255) rgb(77, 77, 77);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(77, 77, 77);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
  }


