:root {
    --nav-toggle-bg: rgb(182, 142, 113);
}

body[data-nav="true"] > #landing-area {
    transform: translateY(-50%);
}

.fa-light {
    height: 2.5rem;
    width: 2.5rem;
}

.fa-bars-staggered {
    background-image: url("/imgs/MenuIcon50.png");
    background-size: cover;
    background-position: center, center;
}

.fa-xmark-large {
    background-image: url("/imgs/Home-Logo-192.png");
    background-size: cover;
    background-position: center, center;
}

#nav-toggle {
    height: 5rem;
    width: 5rem;
    position: fixed;
    z-index: 3;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%); 
    background-color: var(--nav-toggle-bg);
    border: none;
    border-radius: 5rem;
    outline: none;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 45%);
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

#nav-toggle:hover {
    transform: translateX(-50%) scale(1.04);
}
#nav-toggle:active {
    transform: translateX(-50%) scale(0.96);
}

#nav-toggle > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    color:rgb(246, 231, 224);
    font-size: 1.75rem;
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

body:not([data-nav="true"]) > #nav-toggle:hover > .open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > #nav-toggle > .close {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

nav {
    height: 50vh;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

#nav-links {  
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    margin-top: clamp(2rem, 2vw, 2rem);
    padding: 0 clamp(2rem, 2vw, 2rem);
    transform: translateY(70%) scale(0.9);
    transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
}

body[data-nav="true"] > nav > #nav-links {
    transform: translateY(0%) scale(1);
}

#nav-links > .nav-link {
    text-decoration: none;
}

#nav-links > .nav-link > .nav-link-label {
    color: white;
    font-size: 1.25rem;
    margin: 0;
    text-transform: uppercase;
}

#nav-links > .nav-link > .nav-link-image {
    width: max(20vw, 400px);
    aspect-ratio: 1.8/1;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
}