/* Variables */

:root {
    --backgroundColour: #2F4858;
    --headerBackgroundColour: #86BBD8;
    --buttonBackgroundColour: #d46b32;
    --eventBackgroundColour: #33658A;
    --highlightColour: #86BBD8;
    --borderColour: black;
    --darkTextColour: black;
    --lightTextColour: white;
}


/* General */

body {
    background-color: var(--backgroundColour);

    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;

    font-family: 'Segoe UI';
} 

.Hdivider {
    background-color: var(--borderColour);
    border-radius: 3px;
    height: 4px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.Vdivider {
    background-color: var(--borderColour);
    border-radius: 3px;
    width: 4px;
    height: 100%;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    border-radius: 15px;
    border: 2px solid var(--borderColour);
    background-color: var(--buttonBackgroundColour);
    color: var(--darkTextColour);
    font-weight: bold;
}

input[type=search] {
    border-radius: 10px;
    border: 2px solid var(--borderColour);
    background-color: var(--lightTextColour);
    color: var(--darkTextColour);
}

/* Icons and Images */

.logo {
    height: 40px;
    margin: 5px 5px 5px 0px;
    display: flex;
    align-self: center;

}
#open-menu-icon {
    width: 32px;
    height: 32px;
    margin: 9px 9px 9px auto;
    padding: 0;
}
#close-menu-icon  {
    width: 32px;
    height: 32px;
    margin: 9px auto 9px 9px;
    padding: 0;
}


/* Main Section */

.main {
    width: 100%;
}

.main-headerbar {
    display: flex;
    flex-direction: row;
    justify-items: right;
}
#add-event {
    height: 40px;
    margin: auto 5px auto 10px;
    font-weight: bold;
}
#event-search {
    height: 40px;
    min-width: 80px;
    margin: auto 10px auto 5px;
}

#edit-event-header {
    display: none;
    color: var(--lightTextColour);
    margin: auto 0 auto 20px;
    padding: 0;
    font-size: 30px;
}



/* Event List Section */

#event-list-section {
    display: flex;
    flex-direction: column;
}
#event-headers {
    display: flex;
    flex-direction: row;
}
#event-headers:hover {
    cursor: pointer;
}
#event-headers article {
    display: flex; /* This will get overwritten by the javascript */
    flex-direction: column;
    width: 33%;
    height: 50px;

    text-align: center;
    background-color: var(--headerBackgroundColour); /* This will get overwritten by the javascript */
}
#event-headers article h2 {
    font-size: 20px;
    margin: auto 0 auto 0;
}

#repeating {
    border-left: 3px solid var(--borderColour);
    border-right: 3px solid var(--borderColour);
}

/* Event List */
#event-list {
    padding: 0px;
    margin: 10px 10px 0px 10px;
}
#event-list li {
    cursor: pointer;
    display: flex;
    flex-direction: column;

    border-radius: 10px;

    background-color: var(--eventBackgroundColour);
    color: var(--lightTextColour);
    border: 3px solid var(--borderColour);
    padding: 0 10px 0 10px;
    margin: 0 0 10px 0;
}
#event-list li div {
    display: flex;
    flex-direction: row;
    height: 50px;
}

#event-list .event-name{
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    margin: auto 0 auto 0;
}
#event-list .event-edit-button

{
    margin: 8px 0 8px auto;
}
#event-list .event-delete-button{
    margin: 8px 0 8px 5px;
}
/* #event-list .event-date{
    
} */
#event-list .event-time{
    margin: auto 0 auto auto;
}



/* Event Edit Section */

#event-edit-section {
    display: none; /* This will get overwritten by the javascript */
    flex-direction: column;
    align-items: center;
    color: var(--lightTextColour);
    font-size: 20px;
    font-weight: bold;
}
#event-edit-section p {
    font-size: 16px;
    font-weight: normal;
}
#event-edit-section input {
    width: 70%;
    height: 28px;
    font-size: 18px;
    margin-bottom:8px;
}
#event-edit-section label {
    color: var(--highlightColour);
}
#event-edit-section button {
    width: 70%;
    height: 35px;
    font-size: 14px;
    margin: 8px 0 0 0;
}
#event-edit-section article {
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color:white;
    color: var(--darkTextColour);
}
#event-edit-section article div{
    display: flex;
    flex-direction: column;
    width: 49%;
    text-align: center;
}
#event-edit-section article h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
#event-edit-section article ul{
    padding: 3px;
    margin: 0px;
    text-align: center;
    overflow: scroll;
}
#event-edit-section article li{
    font-weight: normal;
    font-size: 15px;
    overflow: hidden;
    margin: 3px 0 3px 0;
}

#repeating-event-toggle-date {
    display: flex; /* This will get overwritten by the javascript */
    flex-direction: column;
    width: 70%;
    align-items: center;
}
#repeating-event-toggle-date input {
    width: 100%; /* This overwrites the input getting set to 70% on line 214 */
    align-items: center;
}
#repeating-event-toggle-weekdays {
    display: none; /* This will get overwritten by the javascript */
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    font-size: 16px;
}
#repeating-event-toggle-weekdays div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0 auto;
    padding: 0 5px 0 5px;
}


/* Event View Section */

#event-view-section {
    display: none; /* This will get overwritten by the javascript */
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
#event-view-section label {
    color: var(--highlightColour);
    font-size: 20px;
    font-weight: bold;
}
#event-view-section p {
    color: var(--lightTextColour);
    margin: 0 0 15px 0;
    overflow-wrap: break-word;
}
#event-view-section ul {
    margin: 0;
    padding: 0;
}
#event-view-section li {
    color: var(--lightTextColour);
    margin: 0 0 5px 0;
    overflow-wrap: break-word;
}
#event-view-section button {
    width: 70%;
    height: 35px;
    font-size: 14px;
    margin: 8px 0 0 0;
}

#view-repeating-days {
    display: flex; /* This will get overwritten by the javascript */
    flex-direction: column;
}
#view-date {
    display: flex; /* This will get overwritten by the javascript */
    flex-direction: column;
}



/* SIDEBAR */

#sidebar {
    display: none; /* This will get overwritten by the javascript */
    width: 192px;
    height: 100%;
    position: fixed;
    overflow: scroll;
    right: 0px;
    background-color: var(--backgroundColour);
    border-left: var(--borderColour) solid 5px;
}
#sidebar #menu-button-bar {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: var(--backgroundColour);
}

/* Friends Header */

#aside-headerbar {
    display: flex;
    flex-direction: column;
    background-color: var(--headerBackgroundColour);
}
#aside-headerbar div {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
}
#aside-headerbar h2 {
    margin: 8px 0 8px auto;
    width: auto;
}
#aside-headerbar #add-friend {
    background-color: var(--buttonBackgroundColour);
    color: var(--darkTextColour);
    font-size: 14px;
    margin: 3px auto 3px 5px;
    padding: 2px auto 2px auto;
    height: auto;
    width: 30%;
}
#friend-search {
    width: 70%;
    height: 32px;
    margin: 0 5px 0 10px;
}



/* Friends List */

#friend-list {
    padding: 0px;
    margin: 10px 10px 0px 10px;
}
#friend-list li {
    cursor: pointer;

    border-radius: 10px;

    background-color: var(--eventBackgroundColour);
    border: 3px solid var(--borderColour);
    padding: 0 10px 0 10px;
    margin: 0 0 10px 0;
}
#friend-list li div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#friend-list li span {
    width: 100%;
    display: flex;
    align-items: center;
}

.friend-name {
    margin: 10px 0 10px 0;
    font-size: 16px;
    font-weight: bold;
}
.friend-edit-button {
    margin: 0px 5px 5px auto;
    height: 30px;
}
.friend-delete-button {
    margin: 0px auto 5px 5px;
    height: 30px;
}


/* Friend Edit Section */

#friend-edit-section {
    display: none; /* This will get overwritten by the javascript */
    flex-direction: column;
    align-items: center;
    color: var(--lightTextColour);
    font-size: 15px;
    font-weight: bold;
}
#friend-edit-section input {
    width: 90%;
    height: 20px;
    font-size: 14px;
    margin-bottom:8px;
}
#friend-edit-section button {
    width: 100px;
    height: 35px;
    font-size: 14px;
    margin: 10px 0 0 0;
}


/* Friend View Section */
#friend-view-section {
    display: none; /* This will get overwritten by the javascript */
    flex-direction: column;
    padding: 15px;
}
#friend-view-section label {
    color: var(--lightTextColour);
    font-size: 18px;
    font-weight: bold;
}
#friend-view-section p {
    color: var(--lightTextColour);
    margin: 0 0 15px 0;
    overflow-wrap: break-word;
}
#friend-view-section button {
    align-self: center;
    width: 70%;
    height: 35px;
    font-size: 14px;
    margin: 8px 0 0 0;
}