
/* 
  ____ _____ _   _ _____ ____      _    _     
  / ___| ____| \ | | ____|  _ \    / \  | |    
 | |  _|  _| |  \| |  _| | |_) |  / _ \ | |    
 | |_| | |___| |\  | |___|  _ <  / ___ \| |___ 
  \____|_____|_| \_|_____|_| \_\/_/   \_\_____|
                                                */


/* 
Colours:
Highlight: #530b7a
Background: gainsboro
Main: lightgrey
*/

/* ----- General ----- */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 15px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

ul {
    list-style-type: none;
    padding: 0;
}
.textVerticalAlign {
    text-align: center;

}
.flexDirRow {
    display: flex;
    flex-direction: row;
}
.flexDirColumn {
    display: flex;
    flex-direction: column;
}
.flexAlignCenter{
    align-items: center;
}
.flexJustifyCentre {
    justify-content: center;
}
[data-href] {
    cursor: pointer;
}

/* ----- Body ----- */
html {
	height: 100%;
	margin: 0;
}

body {
	height: 100%;
    margin: 0px;
    background-color: gainsboro;
    Font-family: 'Segoe UI';
	display: flex;
	flex-flow: column;
	height: 100%;
}
main {
    margin: 10px 10px 0;
    width: 80%;
	flex-grow: 1;
}

/* ----- Header ----- */
.title {
    display: flex;
	align-items: center; 
	background-color: gainsboro;
	display: inline-flex;
	font-family: 'Trebuchet MS', serif;
}
#logo {
	height: 100px;
	width: 100px;
}
h1 {
	top: 0;
	display: inline;
}
.menubuttons {
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}
.menubuttons a {
	display: block;
    color: black;
    padding: 5px 24px;
    text-decoration: none;
    transition: background-color, color, 0.4s;
}
.menubuttons a:hover {
    color: white;
	background-color: #3f075d;
}

/* ----- Navigation ----- */
nav {
	padding: 0 25% 0;
	background: #530b7a;
    overflow: hidden;
    min-height: 30px;
}
nav > ul {
    display: flex;
    flex-flow: wrap row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
nav > ul > li {
    margin: 0 auto 0;
}
nav a {
    display: block;
    color: white;
    margin: auto 0;
    padding: 15px 25px 15px;
    text-decoration: none;
    transition: background-color 0.4s;
	font-family: Verdana, serif;
}
nav a:hover {
    background-color: #3f075d;
}

/* ----- General Articles ----- */
.articleImg {
    width: 70%;
    height: auto;
}
.articleHeading {   
    font-size: 20px;
    font-weight: bold;
    margin: 10px 15px;
}
.articleText {
    font-size: 18px;
    font-weight: normal;
    padding: 5px;
}

/* ----- Footer ----- */
footer {
    width: 100%;
    padding-bottom: 5px;
    height: min-content;
    background-color: lightgray;
    border-bottom: 5px solid #530b7a;
}
.footerLinks {
    margin: 20px 0 10px;
}
.footerLinks a {
    color: black;
    background-color: lightgray;
    text-decoration: none;
    padding: 10px;
    margin-left: 5px;
    transition: background-color 0.4s;
}
.footerLinks a:hover {
    background-color: #bbbbbb;
}

/* Advertisment */
.adHorizontal {
    margin: 5px 0 5px;
    padding: 0;
    height: 15vh;
}
.adHorizontal img {
    height: 100%;
}
.adVertical {
    width: 100%;
    background-color: gainsboro;
    margin: 10px 0 0;
    padding: 0;
}
.adVertical img{
    width: 70%;
    padding: 5px;
}



/* 
 ___ _   _ ____  _______  __  ____   _    ____ _____ 
|_ _| \ | |  _ \| ____\ \/ / |  _ \ / \  / ___| ____|
 | ||  \| | | | |  _|  \  /  | |_) / _ \| |  _|  _|  
 | || |\  | |_| | |___ /  \  |  __/ ___ \ |_| | |___ 
|___|_| \_|____/|_____/_/\_\ |_| /_/   \_\____|_____|*/


/* ----- Main Articles ----- */
#mainArticleContainer {
    background-color: lightgrey;
    padding: 10px 0 10px;
    height: min-content;
}

/* Feature Article */
#featureArticle {
    width: 60%;
    height: auto;
    padding: 10px 0 10px;
    margin: 0 10px 0;
    text-align: center;
    border-radius: 5px;
    transition: background-color, 0.4s;
}
#featureArticle:hover {
    background-color: rgb(190, 190, 190);
}
#featureArticle .articleImg {
    width: 50%;
    height: auto;
}
#featureArticle .articleHeading {
    font-size: 35px;
    margin: 10px 15px;
}
#featureArticle .articleText {
    font-weight: bold;
    padding: 5px;
}

/* Recent Article */
#recentArticleContainer {
    width: 40%;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 13px; /* 10px padding + 3px border */
    border-left: 3px solid #530b7a;
}
#recentArticleContainer article {
    width: 50%;
    padding: 4px;
    border-radius: 5px;
    transition: background-color, 0.4s;
}
#recentArticleContainer article:hover {
    background-color: rgb(190, 190, 190);
}

/* Scrolling Articles */
#scrollingArticleContainer {
    display: flex;
    flex-flow: wrap row;
}
#scrollingArticleContainer article {
    background-color: gainsboro;
    margin: 5px auto 15px;
    padding: 10px;
    width: 400px;
    height: auto;
    text-align: center;
    border-radius: 5px;
    transition: background-color, 0.4s;
}
#scrollingArticleContainer article:hover {
    background-color: rgb(190, 190, 190);
}

/* ----- Right Sidebar ----- */
#sideArticles {
    width: 20%;
    height: min-content;
    margin: 10px 10px 10px;
    text-align: center;
    background-color: lightgrey;
}
.sideHeader {
    margin: 10px 0 10px;
}
.sideList {
    list-style-type: none;
    padding: 0;
    margin: 0 0 30px;
}
.sideList a {
    display: block;
    padding: 5px 5px 5px;
    border-top: 1px solid #530b7a8a;
    text-decoration: none;
    color: black;
    transition: background-color, color, 0.4s;
}
.sideList a:hover{
    background-color: #530b7a;
    color: white;
}





/* 
 _  _    ___  _  _     ____   _    ____ _____ 
| || |  / _ \| || |   |  _ \ / \  / ___| ____|
| || |_| | | | || |_  | |_) / _ \| |  _|  _|  
|__   _| |_| |__   _| |  __/ ___ \ |_| | |___ 
   |_|  \___/   |_|   |_| /_/   \_\____|_____| */

#style_404{
    width: 80%;
    margin: auto;
}
#style_404 section{ 
    width: 50%;
    margin: auto;
}
#style_404 section p{ 
    margin: 10px 0 5px;
}



/* 
_        _  _____ _____ ____ _____ 
| |      / \|_   _| ____/ ___|_   _|
| |     / _ \ | | |  _| \___ \ | |  
| |___ / ___ \| | | |___ ___) || |  
|_____/_/   \_\_| |_____|____/ |_|  
                                    
    _    ____ _____ ___ ____ _     _____ ____    ____   _    ____ _____ 
   / \  |  _ \_   _|_ _/ ___| |   | ____/ ___|  |  _ \ / \  / ___| ____|
  / _ \ | |_) || |  | | |   | |   |  _| \___ \  | |_) / _ \| |  _|  _|  
 / ___ \|  _ < | |  | | |___| |___| |___ ___) | |  __/ ___ \ |_| | |___ 
/_/   \_\_| \_\|_| |___\____|_____|_____|____/  |_| /_/   \_\____|_____| */

#mainLatestArticleContainer {
    margin: auto;
}

/* Popular Articles */
.latestArticlePopContainer {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-bottom: 30px;
}
.latestArticlePopContainer div{
    display: flex;
    flex-direction: row; 
    margin: auto;
}
.latestArticlePop {
    margin: 10px;
    background-color: none;
    transition: opacity .2s ease-in;
}
.latestArticlePop:hover {
    opacity: 70%;
    transition: opacity, .4s ease-out;
}
.latestArticlePopImg {
    min-width: 266.6px;
    width: 100%;
    height: auto;
}

/* Latest Articles */
.latestArticle {
	align-items: left; 
	height: 180px;
    width: 100%;
    border-radius: 5px;
    transition: background-color, 0.4s;
	overflow: hidden;
}
.latestArticle:hover {
    background-color: rgb(190, 190, 190);
}
.latestArticle .articleImg {
    object-fit: cover;
	height: 180px;
    width: auto;
	margin-right: 10px;
	max-width: 50%;
}
.latestArticle .articleHeading {
    margin: 0px;
	padding: 0px;
}
.latestArticle .articleText {
    margin: 0px;
	padding: 0px;
}

.divider {
    border: 0;
	clear:both; 
	display:block; 
	width: 100%; 
	background-color:black; 
	height: 2px;
}


/* 
____   ___  _     ___ _____ ___ ____ ____    ____   _    ____ _____ 
|  _ \ / _ \| |   |_ _|_   _|_ _/ ___/ ___|  |  _ \ / \  / ___| ____|
| |_) | | | | |    | |  | |  | | |   \___ \  | |_) / _ \| |  _|  _|  
|  __/| |_| | |___ | |  | |  | | |___ ___) | |  __/ ___ \ |_| | |___ 
|_|    \___/|_____|___| |_| |___\____|____/  |_| /_/   \_\____|_____| */

#mainPoliticsArticleContainer {
    margin: auto;
    width: 70%;
}
#mainPoliticsArticleContainer h1 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

/* Featured Politic Articles */
#featurePoliticsArticle {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 5px;
    transition: background-color, 0.4s;
}
#featurePoliticsArticle:hover {
    background-color: rgb(190, 190, 190);
}
#featurePoliticsArticle .articleImg{
    width: 50%;
    height: auto;
}
#featurePoliticsArticle .articleHeading{
    font-size: 35px;
    margin: 10px 15px;
}
#featurePoliticsArticle .articleText{
    font-weight: bold;
    padding: 5px;
    width: 70%;
}

/* Recent Politic Articles */
#recentPoliticsArticleContainer {
    width: 100%;
    padding: 5px 0 0;
}
#recentPoliticsArticleContainer article {
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    transition: background-color, 0.4s;
}
#recentPoliticsArticleContainer article:hover {
    background-color: rgb(190, 190, 190);
}


/* 
_______  __    _    __  __ ____  _     _____ 
| ____\ \/ /   / \  |  \/  |  _ \| |   | ____|
|  _|  \  /   / _ \ | |\/| | |_) | |   |  _|  
| |___ /  \  / ___ \| |  | |  __/| |___| |___ 
|_____/_/\_\/_/   \_\_|  |_|_|   |_____|_____|
                                              
    _    ____ _____ ___ ____ _     _____ ____  
   / \  |  _ \_   _|_ _/ ___| |   | ____/ ___| 
  / _ \ | |_) || |  | | |   | |   |  _| \___ \ 
 / ___ \|  _ < | |  | | |___| |___| |___ ___) |
/_/   \_\_| \_\|_| |___\____|_____|_____|____/  */

.exampleArticleContainer {
    margin: 30px auto;
    width: 80%;
}
.exampleArticleContainer .articleImg {
    object-fit: cover;
    min-width: auto;
    max-width: 50%;
    max-height: 400px;
    padding: 5px;
    margin: 20px 0 20px;
}
.exampleArticleContainer .articleText {
    min-width: auto;
    max-width: 70%;
    text-align: left;
}






/* 
 __  __ _____ ____ ___    _       ___  _   _ _____ ____  ___ _____ ____  
|  \/  | ____|  _ \_ _|  / \     / _ \| | | | ____|  _ \|_ _| ____/ ___| 
| |\/| |  _| | | | | |  / _ \   | | | | | | |  _| | |_) || ||  _| \___ \ 
| |  | | |___| |_| | | / ___ \  | |_| | |_| | |___|  _ < | || |___ ___) |
|_|  |_|_____|____/___/_/   \_\  \__\_\\___/|_____|_| \_\___|_____|____/  */

/* ----- Media Queries ----- */
@media screen and (max-width:1440px){
    /* Index Page */
    #mainArticleContainer {
        flex-direction: column;
        text-align: center;
        padding: 0 10px 0;
        width: auto;
    }
    #featureArticle {
        width: auto;
        border-bottom: 5px solid #530b7a;
        margin-bottom: 15px;
    }
    #recentArticleContainer{
        width: 100%;
        border-left: none;
        padding: 0 10px 0;
        width: auto;
    }

    /* Latest Article Page */
    .latestArticlePopContainer {
        flex-direction: column;
    }
    .latestArticlePop {
        width: min-content;
    }
    .latestArticlePopImg {
        max-width: 22%;
    }
}

@media screen and (max-width:1024px){
    /* General */
    nav {
        padding: 0 15% 0;
    }
    main {
        width: 100%;
    }

    /* Index Page */
    #sideArticles {
        display: none;
    }

    /* Example Article Page */
    .exampleArticleContainer{
        width: 95%;
    }
    .exampleArticleContainer div{
        flex-direction: column;
        align-items: center;
    }
    .exampleArticleContainer .articleImg {
        max-width: 100%;
        min-width: auto;
        max-height: 600px;
    }
    .exampleArticleContainer .articleText {
        text-align: center;
    }
}

@media screen and (max-width:768px){
    /* General */
    nav {
        padding: 0 10% 0;
    }

    /* Index Page */
    #scrollingArticleContainer article {
        width: 350px;
        height: auto;
    }
}

@media screen and (max-width:425px){
    /* General */
    nav {
        padding: 0 5% 0;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    .title {
        margin: auto;
    }
    .menubuttons {
        margin: auto;
        text-align: center;
    }
    
    /* Index Page */
    #recentArticleContainer section{
        flex-direction: column;
        align-items: center;
    }
    #recentArticleContainer article{
        width: 100%;
    }
    #scrollingArticleContainer article {
        width: 300px;
        height: auto;
    }
    .adHorizontal {
        height: min-content;
    }
    .adHorizontal img {
        width: 100%;
        height: auto;
    }

    /* Latest Article Page */
    .latestArticlePopContainer div {
        flex-direction: column;
    }

    /* 404 Page */
    #style_404 section{ 
        width: 70%;
    }
}