:root {
    --c-card: rgb(23, 23, 23);
    --c-card-border: rgb(43, 43, 43);
}

#bookmarks {
    align-items: center;
    background-color: var(--c-bg-dark);
    display: flex;
    justify-content: center;
    padding: 20px 10% 20px 10%;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    max-width: 916;
    width: calc(100% - 20px);
}

#cards:hover > .card::after {
opacity: 1;
}

.card {
    position: relative;
    background-color: var(--c-card-border);
    border-radius: 10px;
    height: 260px;
    /* width: 300px; */
    aspect-ratio: 16/9;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255, 0.06),
        transparent 40%
    );
    z-index: 3;
}

.card::after {
    background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255, 0.3),
        transparent 40%
    );
    z-index: 1;
}

.card > .card-content {
    background-color: var(--c-card);
    border-radius: inherit;
    position: absolute;
    inset: 1px;
    z-index: 2;
}