:root {
    --colour-background-dark: #2F4858;
    --colour-background-light: #b8c3ca;
    --colour-header-background: #86BBD8;
    --color-button-background: #d46b32;
    --colour-highlight: #86BBD8;
    --color-border: black;
    --colour-text-dark: black;
    --colour-text-light: white;

    --bg-colour: rgb(20, 20, 20);
    --card-colour: rgb(23, 23, 23);
}

body {
    background-color: var(--colour-background-dark);
    height: 100vh;
    margin: 0px;
    overflow: scroll;
    padding: 0px;
}

