/* Variables */

:root {
    --backgroundColour: #2F4858;
    --headerBackgroundColour: #86BBD8;
    --buttonBackgroundColour: #d46b32;
    --eventBackgroundColour: #33658A;
    --highlightColour: #86BBD8;
    --borderColour: black;
    --darkTextColour: black;
    --lightTextColour: white;
}

body {
    background-color: var(--backgroundColour);
}